---
layout: default
title: Authors
---

<div class="home">

  <h1 class="page-heading">Authors</h1>
  
  <div class="authors-container">
    {% for author in site.data.authors %}
      <div class="author-card">
        <a href="https://github.com/{{ author.github }}"><img class="author-image" src="https://avatars.githubusercontent.com/{{ author.github }}?s=300" alt="{{ author.github }}"/></a>
        <div class="author-title">{{ author.display_name }}</div>
        <div class="author-email">{{ author.email }}</div>
        {% for post in site.posts %}
          {% if post.author == author.name %}
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
