---
layout: default
title: Authors
---

<div class="home">

  <h1 class="page-heading">Authors</h1>
  
  <div class="authors-container">
    {% for author in site.data.authors %}
      <div class="author-card">
        <img class="author-image" src="https://s.gravatar.com/avatar/{{author.gravatar}}?s=300"/>
        <div class="author-title">{{ author.display_name }}</div>
        <div class="author-email">{{ author.email }}</div>
        {% for post in site.posts %}
          {% if post.author == author.name %}
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
